.burgerTitle {
  text-align: center;
}

body {
  background-color: rgb(147, 85, 206);
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.notDevoured {
  align-content: left;
  float: left;
  background-color: azure;
  width: 25%;
}

.devoured {
  text-align: center;
  float: right;
  background-color: azure;
  width: 25%;
}

.formDiv {
  text-align: center;
}

.burgerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}